<% provide(:title, 'Turnitin Tools') %>
<h1>Metadata fixer: provide a list of speedgrader links below</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag('process_urls', method: :post) do %>
        <%= hidden_field_tag(:user_id, @user_id) %>
        <p><%= text_area_tag(:urls,
                             "https://school.domain/api/v1/support_helpers/turnitin/refresh_lti_attachment?attachment_id=attachment_id&submission_id=submission_id ",
                             size: "170x25") %></p>
        <p><%= submit_tag("Process submissions") %></p>
    <% end %>
  </div>
</div>
